<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
      ul {
        margin: 0;
      }
      ul.dashed {
        list-style-type: none;
      }
      ul.dashed > li {
        text-indent: -20px;
      }
      ul.dashed > li:before {
        content: "-";
        text-indent: -20px;
      }
    </style>
    <title>Certificate</title>
</head>
<body>
    <div style="border: 1px solid rgba(0, 0, 0, 0.712); padding: 40px;">
        <div class="row">
            <div></div>
            <div>
                <img src="D:\Web Programming\Python-Flask\eCommerceSite-flask\shop\templates\customers\logo.jpg" class="mx-auto d-block" alt="Safe Lanes" style="position: relative;">
                <hr style="width:65%; background-color: lightblue;">
                <p style="text-align: center; font-family: Engravers MT; font-size:25px;"><strong>CERTIFICATION OF<br>TRAINING</strong></p>
                <hr style="width:65%; background-color: lightblue; margin-bottom: 5px;">
                <br>
                <p style="text-align: center; font-family: Lucida Calligraphy; font-size:19px;">Certificate Number: <strong>RA001</strong></p>
                <br>
                <p style="text-align: center; font-family: Calibri; font-size:22px;">This is to certify that:</p>
                <p style="text-align: center; font-family: Lucida Calligraphy; font-size:26px;">XXXXXXXXXX</p>
                <br>
                <p style="text-align: center; font-family: Calibri; font-size:22px;">Has successfully passed the training course for:</p>
                <p style="text-align: center; font-family: Lucida Calligraphy; font-size:26px;">RISK ASSESSMENT</p>
                <p style="text-align: center; font-family: Lucida Calligraphy; font-size:26px;">&amp;</p>
                <p style="text-align: center; font-family: Lucida Calligraphy; font-size:26px;">RISK MANAGEMENT</p>
                <p style="text-align: center; font-family: Lucida Calligraphy; font-size:26px;">22<sup>nd</sup> to 23<sup>rd </sup>October 2020</p>
                <p style="text-align: center; font-family: Calibri; font-size:20px;">Batch Number: RA/2020/XXX</p>
                <p style="text-align: right; font-family: Calibri; font-size:20px;">Date of Issue: 23<sup>rd</sup> October 2020</p>
                <hr style="width: 100%; border-top: 1px dashed black;">
                <br>
                <table>
                    <tbody>
                        <tr>
                            <td style="margin-left: 5px;" width="250"></td>
                            <td style="margin-right: 5px;" width="250"></td>
                        </tr>
                        <tr>
                            <td>
                                <hr style="border-top: 1px solid rgba(0, 0, 0, 0.712); text-align: center;">
                            </td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>
                                <hr style="border-top: 1px solid rgba(0, 0, 0, 0.712); text-align: center;">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="text-align: center; font-family: Lucida Calligraphy; font-size:26px;"><strong>Rakesh Rawat</strong></p>
                            </td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>
                                <p style="text-align: center; font-family: Lucida Calligraphy; font-size:26px;"><strong>Rachit Jain</strong></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p style="text-align: center; font-family: Calibri; font-size:20px;">Course in-charge</p>
                            </td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>
                                <p style="text-align: center; font-family: Calibri; font-size:20px;">Director or Authorised Representative</p>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr style="width: 100%; border-top: 1px solid rgba(0, 0, 0, 0.712);">
                <p style="text-align: left; font-family: Calibri; font-size:16px;"><u>Course Complies with</u>:the requirements of The ISM Code, COSWP, STCW 2010. ISPS Code, TMSA</p>
                <table>
                    <tbody>
                        <tr>
                            <td width="500">
                                <p style="text-align: left; font-family: Calibri; font-size:16px;"><u>Course Content</u>:</p>
                                <ul class="dashed">
                                    <li style="text-align: left; font-family: Calibri; font-size:16px;">&nbsp;&nbsp;Maritime Industry requirements</li>
                                    <li style="text-align: left; font-family: Calibri; font-size:16px;">&nbsp;&nbsp;Understanding Risk; Principles of Risk Assessment &amp; Risk Management</li>
                                    <li style="text-align: left; font-family: Calibri; font-size:16px;">&nbsp;&nbsp;Understanding the Human Factor approach to Risk Assessment</li>
                                    <li style="text-align: left; font-family: Calibri; font-size:16px;">&nbsp;&nbsp;Hazard Identification technique and Principles of Control</li>
                                </ul>
                            </td>
                            <td>
                                <img style="float: right;" width="30%" src="D:\Web Programming\Python-Flask\eCommerceSite-flask\shop\templates\customers\qr-code.png" alt="QRCode">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div></div>
        </div>
    </div>
</body>
</html>